.visual-advanceTooltipADE8B01854F34CEF9616DF8EA6069129_DEBUG {
  
}
.visual-advanceTooltipADE8B01854F34CEF9616DF8EA6069129_DEBUG .overflowingText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
